h1 {
    font-size: 50px;
    font-weight: 800px;
    color: black;
    text-align: center;
}

div {
    width: 400px;
    background: #fff;
    margin: 30px auto;
    font-size: 20px;
    text-align: center;
}

.link {
    display: inline-block;
    margin: 5px;
    padding: 10px;
}

.lasagna{
    background-color: aqua;
}

.canelon{
    background-color: darkseagreen;
}

.sorrentino {
    background-color:aquamarine;
}

.titulos {
    font-size: 35px;
    color: darkblue;
    font-weight: 500px;
    text-align: justify;
}